@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans Semi';
    src: url('../fonts/OpenSans-SemiBold.ttf');
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/OpenSans-Bold.ttf');
}

$navbarColor: #333333;
$footerColor: #222222;
$successColor: #2cca51;
$infoColor: #3A90F3;
$warningColor: #ffd900;
$errorColor: #FF3821;
$html5Color: #FF8000;
$css3Color: #0080FF;
$jsColor: #ffd900;
$bootstrapColor: #8A00D8;
$wordpressColor: #00A1A1;
$gitColor: #FF3400;
$lightSuccessColor: #96fcae;
$lightInfoColor: #C1DEFF;
$lightWarningColor: #FFF8BC;
$lightErrorColor: #FFCCC7;
$facebookColor: #3B5998;
$twitterColor: #00ACED;
$instagramColor: #C32AA3;
$youtubeColor: #FF0000;
$linkedinColor: #007BB5;
$sectionColor: #F8F8F8;
$textColor: #777777;
$textColor-alt: #FFFFFF;
$checkColor:#00C154;
$fontFamilyDef: 'Open Sans';
$fontFamilySemi: 'Open Sans SemiBold';
$fontFamilyBold: 'Open Sans Bold';

:root{
    --navbarColor: #{$navbarColor};
    --footerColor: #{$footerColor};
    --successColor: #{$successColor};
    --infoColor: #{$infoColor};
    --warningColor: #{$warningColor};
    --errorColor: #{$errorColor};
    --lightSuccessColor: #{$lightSuccessColor};
    --lightInfoColor: #{$lightInfoColor};
    --lightWarningColor: #{$lightWarningColor};
    --lightErrorColor: #{$lightErrorColor};
    --facebookColor: #{$facebookColor};
    --twitterColor: #{$twitterColor};
    --instagramColor: #{$instagramColor};
    --youtubeColor: #{$youtubeColor};
    --linkedinColor: #{$linkedinColor};
    --htmlColor: #{$html5Color};
    --cssColor: #{$css3Color};
    --jsColor: #{$jsColor};
    --bootstrapColor: #{$bootstrapColor};
    --wordpressColor:#{$wordpressColor};
    --gitColor: #{$gitColor};
    --sectionColor: #{$sectionColor};
    --textColor: #{$textColor};
    --textColor-alt:#{$textColor-alt};
    --checkColor:#{$checkColor};
}

*{
    box-sizing: border-box;
    font-family: $fontFamilyDef;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
}
img{
    display: block;
    width: 100%;
    height: 100%;
}

h1{
    font-family: $fontFamilyBold;
    font-size: 4rem;
}

h2{
    font-family: $fontFamilyBold;
    font-size: 3.5rem;
}

h3{
    font-family: $fontFamilyBold;
    font-size: 2.8rem;
}

h4{
    font-family: $fontFamilyBold;
    font-size: 2.5rem;
}

h5{
    font-family: $fontFamilyBold;
    font-size: 2rem;
}

h6{
    font-family: $fontFamilyBold;
    font-size: 1.5rem;
}

.labelForm{
    display: block;
    margin-bottom: 5px;
    color: var(--textColor-alt);
}

.form_control{
    width: 100%;
    height: auto;
    display: block;
    padding: 10px 10px;
    border: 0.5px solid #d4d4d4;
    border-radius: 5px;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.btn{
    display: block;
    background-color: #eaeaea;
    padding: 15px 10px;
    width: 200px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--textColor);
    font-family: $fontFamilySemi;
    border:none;
    margin: 0 auto;
    &:hover{
        cursor: pointer;
        background-color: #dddddd;
    }
}

.btn-success{
    background-color: var(--successColor);
    color: var(--textColor-alt);
    &:hover{
        background-color: #36da5c;
    }
}

.btn-info{
    background-color: var(--infoColor);
    color: var(--textColor-alt);
    &:hover{
        background-color: #3684dd;
    }
}


.btn-warning{
    background-color: var(--warningColor);
    color: var(--textColor-alt);
    &:hover{
        background-color: #ffd310;
    }
}


.btn-error{
    background-color: var(--errorColor);
    color: var(--textColor-alt);
    &:hover{
        background-color: #f13520;
    }
}

.alert{
    display: block;
    background-color: #eaeaea;
    color: var(--textColor);
    padding: 15px 10px;
    border: 2px solid #8d8d8d;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}

.alert-success{
    background-color: var(--lightSuccessColor);
    color: var(--successColor);
    font-family: $fontFamilySemi;
    border: 3px solid var(--successColor);
}

.alert-info{
    background-color: var(--lightInfoColor);
    color: var(--infoColor);
    font-family: $fontFamilySemi;
    border: 3px solid var(--infoColor);
}


.alert-warning{
    background-color: var(--lightWarningColor);
    color: var(--warningColor);
    font-family: $fontFamilySemi;
    border: 3px solid var(--warningColor);
}

.alert-error{
    background-color: var(--lightErrorColor);
    color: var(--errorColor);
    font-family: $fontFamilySemi;
    border: 3px solid var(--errorColor);
}

.display-none{
    display: none;
}

.headerTop{
    width: 100%;
    height: 500px;
    background-image: url('../images/header_bg.jpg');
    background-repeat: no-repeat;
    background-color: #6e6e6e;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    .container{
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 30px 10px;
        .mainNavbar{
            background-color: var(--navbarColor);
            position: relative;
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 10px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            margin-bottom: 60px;
            .navbar__logoLink{
                display: none;
                width: 100%;
                height: auto;
                margin-bottom: 10px;
            }
            .navbar__logoLink--mobile{
                display: block;
                height: 40px;
            }
            .navbar__btn{
                display: block;
                width: 32px;
                height: 32px;
                padding: 5px;
                text-align: center;
                font-size: 2.8rem;
                color: var(--textColor-alt);
                box-sizing: content-box;
                border: 1px solid var(--textColor-alt);
                border-radius: 5px;
                &:hover{
                    cursor: pointer;
                    border: 1px solid transparent;
                    background-color: var(--sectionColor);
                    color: var(--textColor);
                }
            }
            .navbar__menu{
                position: absolute;
                top: 116px;
                background-color: #222222;
                width: 100%;
                height: 0;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
                margin: 0;
                padding: 0;
                list-style-type: none;
                display: block;
                overflow: hidden;
                z-index: 100;
                .menu__menuItem{
                    .menuItem__link{
                        display: block;
                        padding: 14px 10px;
                        text-align: center;
                        text-decoration: none;
                        color: var(--textColor-alt);
                        &:nth-child(5){
                            border-bottom-left-radius: 3px;
                            border-bottom-right-radius: 3px;
                        }
                        &:hover{
                            cursor: pointer;
                            background-color: var(--infoColor);
                        }
                    }
                }
            }
        }

        .maintitle{
            text-align: center;
            color: var(--textColor-alt);
        }
    }
}

.mainContent{
    width: 100%;
    height: auto;
    .about{
        width: 100%;
        height: auto;
        .container{
            width: 100%;
            height: auto;
            margin: 0 auto;
            padding: 60px 20px;
            .about__title{
                text-align: center;
                margin-bottom: 10px;
            }
            hr{
                border-color: var(--textColor);
                margin-bottom: 20px;
            }
            .row{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
                .colX2{
                    width: 100%;
                    height: auto;
                    &:nth-child(1){
                        .about__info{
                            text-align: justify;
                            font-size: 1.5rem;
                            line-height: 2;
                        }
                        .about__technoogies{
                            width: 100%;
                            height: auto;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            i{
                                display: block;
                                margin: 0 10px;
                                font-size: 3.2rem;
                                &:nth-child(1){color: var(--htmlColor);}
                                &:nth-child(2){color: var(--cssColor);}
                                &:nth-child(3){color: var(--jsColor);}
                                &:nth-child(4){color: var(--bootstrapColor);}
                                &:nth-child(5){color: var(--wordpressColor);}
                                &:nth-child(6){color: var(--gitColor);}
                            }
                        }
                    }
                    &:nth-child(2){
                        .about__imgContainer{
                            width: 200px;
                            height: 200px;
                            overflow: hidden;
                            border-radius: 100%;
                            margin: 0 auto;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }

    .services{
        width: 100%;
        height: auto;
        background-color: var(--sectionColor);
        .container{
            width: 100%;
            height: auto;
            margin: 0 auto;
            padding: 60px 20px;
            .services__title{
                text-align: center;
                margin-bottom: 20px;
            }
            .row{
                width: 100%;
                height: auto;
                .colX3{
                    width: 100%;
                    height: auto;
                    .services__table{
                        width: 100%;
                        height: auto;
                        padding: 5px;
                        .services__table--img{
                            width: 100%;
                            height: auto;
                            .tb__img{
                                width: 100%;
                                height: auto;
                               .service__img{
                                   width: 128px;
                                   height: 128px;
                                   margin: 0 auto;
                               }
                            }
                        }
                        .services__table--title{
                            width: 100%;
                            height: auto;
                            .tb__title{
                                width: 100%;
                                height: auto;
                                .service__name{
                                    text-align: center;
                                    color: var(--textColor);
                                    margin-bottom: 10px;
                                }
                            }
                        }
                        .services__table--description{
                            width: 100%;
                            height: auto;
                            .tb__description{
                                display: block;
                                width: 100%;
                                height: auto;
                                text-align: justify;
                                margin-bottom: 10px;
                            }
                        }
                        .services__table--feature{
                            width: 100%;
                            height: auto;
                            .service__feature{
                                width: 100%;
                                height: auto;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                padding: 5px 0;
                                i{
                                    display: block;
                                    color: var(--checkColor);
                                    margin-right: 5px;
                                }
                                .feature__text{
                                    display: block;
                                    text-align: justify;
                                    margin-left: 5px;
                                }
                            }
                        }
                        .services__table--btn{
                            width: 100%;
                            height: auto;
                            .tb__btn{
                                width: 100%;
                                height: auto;
                                padding: 5px;
                            }
                        }
                    }
                }
            }
        }
    }

    .contact{
        width: 100%;
        height: auto;
        background-image: url('../images/contact_bg.jpg');
        background-repeat: no-repeat;
        background-color: #858585;
        background-blend-mode: multiply;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        .container{
            width: 100%;
            height: auto;
            margin: 0 auto;
            padding: 60px 20px;
            .contact__title{
                text-align: center;
                color: var(--textColor-alt);
                margin-bottom: 20px;
            }
            .contact__form{
                //background-color: #FFFFFF;
                width: 100%;
                height: auto;
                padding: 10px;
                .row{
                    width: 100%;
                    height: auto;
                    &:nth-child(1){
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .colX2{
                            width: 100%;
                            height: auto;
                        }
                    }
                    &:nth-child(3){
                        .form_control{
                            min-width: 100%;
                            max-width: 100%;
                            min-height: 200px;
                            max-height: 200px;
                        }
                    }
                }
                .btn-success{
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.footerPage{
    background-color: var(--footerColor);
    width: 100%;
    height: auto;
    margin: 0 auto;
    .container{
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 20px;
        .copyright{
            text-align: center;
            color: var(--textColor-alt);
        }
    }
}